body {
  margin: 0;
  font-family: 'Kosugi Maru', 'M PLUS Rounded 1c', 'Noto Sans JP', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 